<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-searchbar placeholder="Filter Pizza" animated></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button (click)="doSearch()" color="dark">
        搜索
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="sub_toobar">
      <div class="subheader">
          <div *ngFor="let item of subHeaderList" (click)="subHeaderChange(item.id)" [ngClass]="{'active':subHeaderSelected==item.id}">
            {{item.title}}
          </div>

      </div>
    </ion-toolbar>
</ion-header>

<ion-content>

  <div class="list_content">

    <ion-list>
      <ion-item *ngFor="let item of productList">
        <ion-thumbnail>
          <img [src]="config.domain+item.s_pic" />
        </ion-thumbnail>
        <ion-label>
          <h3>{{item.title}}</h3>
          <p> <span class="price">{{item.price}}</span></p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="getProductList($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="加载更多...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
  </div>

</ion-content>
