.list_content{

  ion-label{

    white-space: normal;
    padding-left: 14px;
  }
}

.sub_toobar{

  --min-height:3rem;


  .subheader{

    border-top: 1px solid#eee;
    display: flex;
    align-items: center;
    height: 3rem;
    div{
      flex: 1;
      text-align: center;
    }
  }

  .active{
    color: red;
  }
}
