<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/registerstep1" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>手机快速组册</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="code_info" padding>
    <h4>马上验证手机，激活账户</h4>
    <p class="code_sign_p">验证吗以发送，输入验证吗完成验证</p>
  </div>

  <div class="sign_info">
    <input type="text" placeholder="验证码">
    <div class="timer" >
      倒计时
    </div>
  </div>

  <ion-button (click)="goRegisterStep3()" color="danger" expand="block" class="jd_btn">
    下一步
  </ion-button>
</ion-content>
